<div class="container">


  <!-- Material textarea with colorful border -->
  <div class="row">
    <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
                    <!--Card image-->
                    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              
                        <mdb-card-img src="assets/images/contact-us.png"></mdb-card-img>
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <!--/Card image-->
        </mdb-card>
    </div>
  </div>
      <div class="row">
      <div class="col-md-12">
        <app-contact-form></app-contact-form>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
        <!-- Section: form  -->
        <div class="card px-5 mb-5">
          <h5 class="text-center my-4">{{'contactmsgintro' | translate}}</h5> 
          <formio src="https://aqueous-depths-66124.herokuapp.com/contact"></formio>
          </div>
        </div>
        <!-- Section: form -->
    </div>
  <!-- Material textarea with colorful border -->
</div>