
<!-- Section: Contact v.3 -->
<section class="contact-section my-5">

    <!-- Form with header -->
    <div class="card">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-8  mx-auto">
  
          <div class="card-body contact text-center h-100 black-text">
  
            <h3 class="my-4 pb-2">Contact information</h3>
            <ul class="text-lg-left list-unstyled ml-4">
              <li>
                <p><i class="fa fa-map-marker-alt pr-2"></i>Montréal, QC, CANADA</p>
              </li>
              <li>
                <p><i class="fa fa-phone pr-2"></i>+1 514 572 8805</p>
              </li>
              <li>
                <p><i class="fa fa-envelope pr-2"></i>info@fititsolution.com</p>
              </li>
            </ul>
            <hr class="my-4">
            <ul class="list-inline text-center list-unstyled">
              <li class="list-inline-item">
                <a class="p-2 fa-lg tw-ic">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="p-2 fa-lg li-ic">
                  <i class="fa fa-linkedin"> </i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="p-2 fa-lg ins-ic">
                  <i class="fa fa-instagram"> </i>
                </a>
              </li>
            </ul>
  
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Form with header -->
  
  </section>
  <!-- Section: Contact v.3 -->