<div class="container">
    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              
            <mdb-card-img src="assets/images/conseil-service-page.png"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <!-- Card content -->
          <mdb-card-body cascade="true">
            <mdb-card>
              <mdb-card-body>
                <p class="lead text-center">{{'conseilpagelead' | translate}}
                </p>
                <p>{{'conseilpageintro' | translate}}                        
                </p>           
              </mdb-card-body>
            </mdb-card>     
          </mdb-card-body>

        </mdb-card>
      </div>
    </div>
  </div>

