<div class="container">
    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/images/devservice.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->
          <!-- Card content -->
          <mdb-card-body cascade="true">
            <mdb-card-text>
                <p class="lead text-center">
                    {{'devpagelead' | translate}}
                  </p>
                  <p>
                      {{'devpageintro' | translate}}
                  </p>        
<app-list-groups></app-list-groups>
                    <div class="row mb-5">
                    </div>
            </mdb-card-text>        
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
