<div class="row">

<div class="col-md-12 mx-auto mt-5">
    <h4 class="text-center">{{'integrpagebloc1' | translate}}</h4>
    <ul class="list-group">
      <li class="list-group-item">{{'integrpagebloc1_1' | translate}}</li>
      <li class="list-group-item">{{'integrpagebloc1_2' | translate}}</li>
      <li class="list-group-item">{{'integrpagebloc1_3' | translate}}</li>
      <li class="list-group-item">{{'integrpagebloc1_4' | translate}}</li>
    </ul>
  </div>
  <div class="col-md-12 mx-auto mt-5">
      <h4 class="text-center">{{'integrpagebloc2' | translate}} </h4>
      <ul class="list-group">
        <li class="list-group-item">{{'integrpagebloc2_1' | translate}}</li>
        <li class="list-group-item">{{'integrpagebloc2_2' | translate}}</li>
      </ul>
  </div>
</div>