<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color-dark" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
    <img
    src="assets/images/logo.svg"
    alt="Fit It solutions"
    height="150"
    width="400" />
  </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links >
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item waves-light white-text d-flex flex-column justify-content-center" mdbWavesEffect>
          
          <a (click)="back()">
              <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
             {{'lienback' | translate}}
            </a>
    
          </li>
      <li class="nav-item">
          
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">
          <fa-icon [icon]="faHome"></fa-icon>
          {{'lienhome' | translate}}
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/profile">
          <fa-icon [icon]="faInfoCircle"></fa-icon>
          {{'lienaboutus' | translate}}
        </a>
      </li>
      
           <!-- Dropdown -->
           <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
              <fa-icon [icon]="faHandPointDown"></fa-icon>
              Services
              <span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="/services/development">{{'liendev' | translate}}</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="/services/integration">{{'lienintegr' | translate}}</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="/services/conseil">{{'lienconseil' | translate}}</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="/services/service-gere">{{'lienservicegere' | translate}}</a>
            </div>
          </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="/blog">
              <fa-icon [icon]="faNewspaper"></fa-icon>
              {{'Blog' | translate}}</a>
        </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/contact">
            <fa-icon [icon]="faAddressCard"></fa-icon>
            {{'liencontact' | translate}}</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
  <links style="width: 50%;">  <div class="ml-auto">
      <button mdbBtn type="button" color="primary" rounded="true" outline="true"  size="sm" (click)="setLang('fr')" mdbWavesEffect>FR</button>
      <button mdbBtn type="button" color="primary" rounded="true" outline="true"  size="sm" (click)="setLang('en')" mdbWavesEffect>EN</button>
    </div> </links>
</mdb-navbar>
<!--/.Navbar-->