
    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/images/aboutus.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <!-- Card content -->
          <mdb-card-body cascade="true">

            <!--Title-->
            <mdb-card-title>
            </mdb-card-title>
            <mdb-card>
              <mdb-card-body>
              <p>
                {{'textaboutus' | translate}}    
              </p>          
              </mdb-card-body>
            </mdb-card>            
          </mdb-card-body>
            <div class="col-md-12">
          <app-contact-form></app-contact-form>
        </div>
        </mdb-card>

      </div>
    </div>
  <div class="row mb-5">
    </div>