<div class="row">
  <!-- Basic Example -->
  <div class="col-md-12 mx-auto mb-5">
    <div class="jumbotron">
      <h2 class="h1 h1-responsive">{{'aboutusHeader' | translate }}</h2>
      <p class="lead">{{'aboutusLead' | translate }}</p>
      <hr class="my-2">
      <p>{{'aboutusContent' | translate }} 
      </p>
      <a class="btn btn-primary btn-lg waves-light" role="button" href="/profile" mdbWavesEffect>{{'learnMore' | translate }}</a>
    </div>
  </div>
  <!-- Basic Example -->
</div>