<footer class="page-footer font-small special-color-dark pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
<!-- Grid column -->
<div class="col-md-4 mb-md-0 mb-3">

    <!-- Links -->
    <h5 class="text-uppercase">{{'liencontact' | translate}}</h5>
    <hr class="hr-light my-4 ">
    <ul class="list-unstyled">
          <li>
           <mdb-icon fas icon="map-marked-alt"></mdb-icon> Montreal, QC, CANADA
          </li>
          <li>
            <mdb-icon fas icon="phone-square"></mdb-icon> +15145728805
          </li>
          <li>
            <mdb-icon fas icon="mail-bulk"></mdb-icon> info@fititsolution.com
          </li>
        </ul>
        <ul class="list-inline text-center list-unstyled">
          <li class="list-inline-item">
            <a class="p-2 fa-lg tw-ic">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="p-2 fa-lg li-ic">
              <i class="fa fa-linkedin"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="p-2 fa-lg ins-ic">
              <i class="fa fa-instagram"> </i>
            </a>
          </li>
    </ul>

  </div>
  <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Services</h5>
            <hr class="hr-light my-4 ">
            <ul class="list-unstyled">
              <li>
                <a href="/services/development">{{'liendev' | translate}}</a>
              </li>
              <li>
                <a href="/services/integration">{{'lienintegr' | translate}}</a>
              </li>
              <li>
                <a href="/services/conseil">{{'lienconseil' | translate}}</a>
              </li>
              <li>
                <a href="/services/service-gere">{{'lienservicegere' | translate}}</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Information</h5>
            <hr class="hr-light my-4 ">
            <ul class="list-unstyled">
              <li>
                <a href="/profile">{{'lienaboutus' | translate}}</a>
              </li>
              <li>
                <a href="/contact">{{'liencontact' | translate}}</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3"><h6>© 2022 Copyright: {{'titreCompany' | translate }}</h6>
      </div>
      <!-- Copyright -->

    </footer>